{
  "$schema": "http://json.schemastore.org/prettierrc",
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "semi": false,
  "printWidth": 120,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-tailwindcss"]
}
